{%extends 'website/layout.html'%}


{%block title%}
Смена пароля
{%endblock%}


{%block body%}

Смена пароля активна.

Мы отправили вам инструкции по смене пароля, если аккаунт с такой почтой существует. Вы должны получить сообщение в скором времени.

Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели верный адрес почты, который вы использовали при регистрации и проверьте папку "Спам".
<br>
<br>

<a href="{% url "index" %}" class="btn btn-primary">На главную</a>
{%endblock%}