{%extends 'website/layout.html'%} 


{%block title%}
ewewe
{%endblock%}

{% block body %}

<p> Пожалуйста, введите ваш пароль дважды, чтобы убедиться, что вы ввели его правильно. </p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    Имя пользователя:
    <br>
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">   Новый пароль:</label>
        <br>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Подтвердите пароль:</label>
        <br>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="Сменить пароль">
</fieldset>
</form>



{% endblock %}
