body{
    margin:0;
    background-color: rgb(141, 144, 145);
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 15% 1fr 1fr;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 40px;
    text-align: center;

}

.main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.submain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;    

    
}
/*
#5D5C61 - темно серый
#379683 = серый
#7395AE = голубой
#557A95 = синий
#B1A296 = бежевый

Storm: #565c5e | Forest Green: #455954 | Leather: #9d7463 | Blue: #b5c2c7 | Linen: #dfdbd8
*/

.listik{
    display: grid;
    grid-template-rows: 10% 80% 10% ;
    text-align: center;
    border: 1px solid black;
    max-height: 500px;
    
    
    border-radius: 1%;
    

}

.poem_list_header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#565c5e;
    font-size:larger;

    overflow: hidden;
    /*background-color: rgb(32, 32, 32);*/
    background-color: #dfdbd8;
}


.poem_list_content {
    overflow: hidden;
    /*background-color: rgb(216, 216, 216); */
    background-color: #565c5e;
    padding: 10px;
    color: #dfdbd8;
}

.poem_list_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdbd8;

}


.poem_page_block{
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #565c5e;
    color: #dfdbd8;
}

.poem_page_title{
    font-size: larger;
    font-weight: bold;
}

/*
.submain > div{
    background:#eee;
    padding:1em;
} 

.submain >div:nth-child(odd){
    background: #ddd;
    padding:1em;
} */


textarea {
    height: 60vh;
    width: 40%;
}

.link {
    border: 1px solid black;
    text-decoration: none;
    background-color: white;
}

